[submodule "frontend"]
	path = frontend
	url = https://github.com/larchanka-training/python-typescript-wiki-frontend.git
[submodule "api"]
	path = api
	url = https://github.com/larchanka-training/python-typescript-wiki-backend.git
