[submodule "frontend"]
	path = frontend
	url = git@github.com:larchanka-training/python-typescript-wiki-frontend.git
[submodule "api"]
	path = api
	url = git@github.com:larchanka-training/python-typescript-wiki-backend.git
